@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
.slide span {
    padding-left: 100%;
    animation-name: slide;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.slide:hover span {
    animation-play-state: paused;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.select2-selection.select2-selection--single {
    border-radius: 0.5rem;
    border: 1px solid theme("colors.grey.300");
    width: 12rem;
    height: 2.5rem;
    background-color: theme("colors.grey.200");
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    width: 12rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: inherit;
}
.select2-selection__arrow {
    margin: 10px 5px 0 0;
}
.select2-dropdown {
    color: theme("colors.grey.950");
    background-color: theme("colors.grey.100");
    border: none;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    padding: 0.5rem 0.75rem;
    border: none;
    box-shadow: none;
    color: theme("colors.grey.950");
    background-color: theme("colors.grey.50");
    border-radius: 0.25rem;
}
.select2-results__option {
    padding-left: 0.75rem;
}
.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: theme("colors.purple.400");
}
.dark {
    .select2-selection.select2-selection--single {
        border-color: theme("colors.grey.600");
        background-color: theme("colors.grey.800");
    }
    .select2-dropdown {
        color: theme("colors.grey.50");
        background-color: theme("colors.grey.600");
    }
    .select2-container--default
        .select2-search--dropdown
        .select2-search__field {
        color: theme("colors.grey.50");
        background-color: theme("colors.grey.800");
    }
    .select2-results__option--selected {
        background-color: theme("colors.grey.700");
    }
}
